* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

body {
  overflow: hidden;
  user-select: none;
}

#nav-bar {
  height: 5em;
}

#create-polygon, input-field {
  vertical-align: middle;
}